#navbar li{
  position:relative;
  transition: all 0.2s ease-in-out;
}

a{
  text-decoration: none;
  color: rgb(100, 100, 100);
}

#navbar li:hover{
  background-image: linear-gradient(to right , rgb(202, 201, 200),#6A704C);
  transform: rotate(8deg) scale(1.1);
  color: rgb(193, 194, 192)
}
