*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a{
    color: black;
    text-decoration: none;
}
.main{
    display: flex;
    justify-content: space-between;
}

/* my profile picture */
.mypic{
    height:100vh;
}

/* profile heading */
.nav{
    padding:20px;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar>a{
    display: flex;
    margin-left:20px;
    align-items: center;
    padding: 6px;
    border-radius: 7px;
    transition: all ease-in-out 0.3s;
}
.navbar>a:hover{
    background-color: rgb(233, 189, 189);
    transform:rotate(-7deg);
}
.icon{
    margin-right:6px;
}
.myintro{
    display:inline-block;
    position:absolute;
    top:45vh;
    right: 13vw;
    font-size: 1.5rem;
    padding: 1%;
    border: 2px solid black;
}
.extra_boder{
    position: inherit;
    height: 100%;
    width: 100%;
    transform: rotate(-2deg);
    border: 2px solid red;
    padding: 1%;
}